In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import category_encoders as ce
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('Cleaned_2018_flights.csv')

In [16]:
app_df = pd.read_excel('Airport Rankings 2018.xlsx',header=2,usecols=[0,1])

In [17]:
app_df.iloc[0:5,:]

  2018 Rank            Airport
0         1            Atlanta
1         2        Los Angeles
2         3     Chicago O'Hare
3         4  Dallas/Fort Worth
4         5             Denver

In [21]:
app_df2 = pd.read_excel('Airport Rankings 2018.xlsx',sheet_name=3,header=4,usecols=[0,1,2])

In [22]:
app_df2.head()

   Unnamed: 0                                            Airport Code
0         1.0         Los Angeles, CA: Los Angeles International  LAX
1         2.0          Chicago, IL: Chicago O'Hare International  ORD
2         3.0                   Denver, CO: Denver International  DEN
3         4.0  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...  ATL
4         5.0     San Francisco, CA: San Francisco International  SFO

In [24]:
app_df2['Airport'] = app_df2['Airport'].apply(lambda x: x.split(',')[0])

In [25]:
app_df2.head()

   Unnamed: 0        Airport Code
0         1.0    Los Angeles  LAX
1         2.0        Chicago  ORD
2         3.0         Denver  DEN
3         4.0        Atlanta  ATL
4         5.0  San Francisco  SFO

In [33]:
'Los Angeles' in app_df2['Airport']

False

In [32]:
app_df['Code'] = app_df['Airport'].apply(lambda x : app_df2[app_df2['Airport']== x if ]['Code'][0])

KeyError: 0

In [ ]:
#SVM

In [ ]:
1111
1111
0101
1010
1