In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.59.tar.gz (25 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (1.2.3)
Requirement already satisfied: numpy>=1.15 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from yfinance) (2.25.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp38-cp38-win_amd64.whl (3.5 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=1b2b5f36e3b4e11849deddb517e20f9bc281784ab53261896391b45ef8639222
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\7e\d5\f4\f628965651f61ae35c2bdc73571ce1a2026e1550a336b5ad4b
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=3a678856c3629ac841475a2c9fe23ad6d680e2907348df20fb92a949e7f46b01
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\57\6d\a3\a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.3 multitasking-0.0.9 yfinance-0.1.59
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [110]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
Requirement already satisfied: joblib in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from nltk) (1.0.1)
Collecting tqdm
  Downloading tqdm-4.61.0-py2.py3-none-any.whl (75 kB)
Collecting regex
  Downloading regex-2021.4.4-cp38-cp38-win_amd64.whl (270 kB)
Collecting click
  Downloading click-8.0.1-py3-none-any.whl (97 kB)
Requirement already satisfied: colorama in c:\users\admin\appdata\roaming\python\python38\site-packages (from click->nltk) (0.4.4)
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.0.1 nltk-3.6.2 regex-2021.4.4 tqdm-4.61.0

In [1]:
import pandas as pd
import yfinance as yf
import datetime

In [2]:
PLTR_raw = pd.read_csv('raw_PLTR.csv')
PLTR_raw.head()

,Date,topic,content
0,2021-06-05T11:30:00.000Z,3 Meme Stocks That Could Make You Rich,https://www.fool.com/investing/2021/06/05/3-me...
1,2021-06-04T20:05:19.000Z,Activists Launch Campaign Against Palantir's N...,"A self-touted tech-justice non-profit, Foxglov..."
2,2021-06-04T18:11:43.000Z,Palantir Backs Multiple SPACs Endeavors in Dig...,Data analytics software developer Palantir Tec...
3,2021-06-04T15:03:06.000Z,UK healthcare app built by Iranian refugee set...,A British-Iranian entrepreneur who came to the...
4,2021-06-04T14:44:35.000Z,Continue to Exercise Caution When it Comes to ...,Did Palantir (NYSE:PLTR) stock find its floor ...

In [3]:
PLTR_raw['Date'] = PLTR_raw['Date'].apply(lambda x :datetime.datetime.strptime(x[:-8],r"%Y-%m-%dT%H:%M"))

In [ ]:
#content -> URL to words

In [4]:
PLTR_price = yf.download(tickers='PLTR', period='6mo', interval="1h")

[*********************100%***********************]  1 of 1 completed

In [5]:
PLTR_price.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 865 entries, 2020-12-09 09:30:00-05:00 to 2021-06-08 15:30:00-04:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       865 non-null    float64
 1   High       865 non-null    float64
 2   Low        865 non-null    float64
 3   Close      865 non-null    float64
 4   Adj Close  865 non-null    float64
 5   Volume     865 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 47.3 KB

In [6]:
PLTR_price.head()

,Open,High,Low,Close,Adj Close,Volume
2020-12-09 09:30:00-05:00,28.680000,28.850000,26.709999,27.420000,27.420000,25848861
2020-12-09 10:30:00-05:00,27.424999,27.900000,27.190001,27.410000,27.410000,7646543
2020-12-09 11:30:00-05:00,27.410000,27.480000,26.950001,27.089899,27.089899,7067566
2020-12-09 12:30:00-05:00,27.084999,27.200001,26.040001,26.113400,26.113400,10450521
2020-12-09 13:30:00-05:00,26.139999,26.639999,25.330000,26.594999,26.594999,15899190

In [136]:
type(PLTR_price.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
#PLTR_price = PLTR_price['Adj Close']

In [138]:
PLTR_price.index

DatetimeIndex(['2020-12-08 09:30:00-05:00', '2020-12-08 10:30:00-05:00',
               '2020-12-08 11:30:00-05:00', '2020-12-08 12:30:00-05:00',
               '2020-12-08 13:30:00-05:00', '2020-12-08 14:30:00-05:00',
               '2020-12-08 15:30:00-05:00', '2020-12-09 09:30:00-05:00',
               '2020-12-09 10:30:00-05:00', '2020-12-09 11:30:00-05:00',
               ...
               '2021-06-04 13:30:00-04:00', '2021-06-04 14:30:00-04:00',
               '2021-06-04 15:30:00-04:00', '2021-06-07 09:30:00-04:00',
               '2021-06-07 10:30:00-04:00', '2021-06-07 11:30:00-04:00',
               '2021-06-07 12:30:00-04:00', '2021-06-07 13:30:00-04:00',
               '2021-06-07 14:30:00-04:00', '2021-06-07 15:30:00-04:00'],
              dtype='datetime64[ns, America/New_York]', length=865, freq=None)

In [139]:
PLTR_price.index = PLTR_price.index.tz_convert(None)

In [140]:
PLTR_price.index

DatetimeIndex(['2020-12-08 14:30:00', '2020-12-08 15:30:00',
               '2020-12-08 16:30:00', '2020-12-08 17:30:00',
               '2020-12-08 18:30:00', '2020-12-08 19:30:00',
               '2020-12-08 20:30:00', '2020-12-09 14:30:00',
               '2020-12-09 15:30:00', '2020-12-09 16:30:00',
               ...
               '2021-06-04 17:30:00', '2021-06-04 18:30:00',
               '2021-06-04 19:30:00', '2021-06-07 13:30:00',
               '2021-06-07 14:30:00', '2021-06-07 15:30:00',
               '2021-06-07 16:30:00', '2021-06-07 17:30:00',
               '2021-06-07 18:30:00', '2021-06-07 19:30:00'],
              dtype='datetime64[ns]', length=865, freq=None)

In [78]:
PLTR_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     172 non-null    datetime64[ns]
 1   topic    172 non-null    object
 2   content  172 non-null    object
dtypes: datetime64[ns](1), object(2)
memory usage: 4.2+ KB

In [79]:
PLTR_raw.set_index('Date',inplace=True)
PLTR_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 172 entries, 2021-06-05 11:30:00 to 2021-03-04 13:56:00
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   topic    172 non-null    object
 1   content  172 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [80]:
PLTR_raw.index = PLTR_raw.index.ceil('H')

In [81]:
PLTR_raw.index

DatetimeIndex(['2021-06-05 12:00:00', '2021-06-04 21:00:00',
               '2021-06-04 19:00:00', '2021-06-04 16:00:00',
               '2021-06-04 15:00:00', '2021-06-03 15:00:00',
               '2021-06-03 12:00:00', '2021-06-03 00:00:00',
               '2021-06-02 21:00:00', '2021-06-02 19:00:00',
               ...
               '2021-03-09 15:00:00', '2021-03-09 12:00:00',
               '2021-03-08 15:00:00', '2021-03-08 14:00:00',
               '2021-03-08 10:00:00', '2021-03-07 23:00:00',
               '2021-03-05 21:00:00', '2021-03-05 14:00:00',
               '2021-03-05 10:00:00', '2021-03-04 14:00:00'],
              dtype='datetime64[ns]', name='Date', length=172, freq=None)

In [82]:
#news may be reported on the same hour, what should we do?
PLTR_raw.index.is_unique

False

In [90]:
a = PLTR_raw.index.value_counts()
a[a.values>1]

2021-05-11 12:00:00    4
2021-05-11 21:00:00    3
2021-05-11 16:00:00    3
2021-05-11 11:00:00    3
2021-05-11 15:00:00    3
2021-05-11 13:00:00    3
2021-06-04 21:00:00    2
2021-04-08 14:00:00    2
2021-05-21 18:00:00    2
2021-05-24 11:00:00    2
2021-04-05 15:00:00    2
2021-04-29 22:00:00    2
2021-05-11 18:00:00    2
2021-05-12 13:00:00    2
2021-05-06 11:00:00    2
2021-03-25 15:00:00    2
2021-05-26 19:00:00    2
Name: Date, dtype: int64

In [106]:
for col in PLTR_raw.columns:
    PLTR_raw[col] = PLTR_raw[col] + ' '
PLTR_raw = PLTR_raw.groupby(level=0).sum()

In [107]:
PLTR_raw.head(2)

,topic,content
Date,,
2021-03-04 14:00:00,Palantir Rises on Latest Ark Investment Stock ...,https://www.thestreet.com/investing/palantir-r...
2021-03-05 10:00:00,"Jim Cramer on Jobs Report, Broadcom, Costco, P...",https://www.thestreet.com/jim-cramer/stock-mar...

In [108]:
PLTR_raw.index.is_unique

True

In [5]:
import json

In [8]:
with open('word_list_extended.txt','r') as f:
    lmdict = eval(f.read())

In [114]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...

True

In [115]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

special_words = {
    'crushes': 10,
    'beats': 5,
    'misses': -5,
    'trouble': -10,
    'falls': -10,
    'exploded' : 4,
    'able':2,
}

for i in lmdict["Negative"]:
  special_words[i]=-5

for i in lmdict["Positive"]:
  special_words[i]=5

vader = SentimentIntensityAnalyzer()
vader.lexicon.update(special_words)

In [122]:
PLTR_raw.iloc[0,1]

'https://www.thestreet.com/investing/palantir-rises-on-latest-ark-investment-stock-purchase?puc=yahoo&cm_ven=YAHOO  '

In [126]:
vader.polarity_scores(PLTR_raw.iloc[4,1])

{'neg': 0.181, 'neu': 0.734, 'pos': 0.085, 'compound': -0.987}

In [120]:
import numpy as np
np.log(2.7)

0.9932517730102834

In [127]:
import numpy as np
def log_pos(x):
    s = vader.polarity_scores(x)
    return np.log((1 + s['pos'])/(1+s['neg']))
#introduce from the paper

In [121]:
PLTR_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 148 entries, 2021-03-04 14:00:00 to 2021-06-05 12:00:00
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   topic    148 non-null    object
 1   content  148 non-null    object
dtypes: object(2)
memory usage: 7.5+ KB

In [129]:
PLTR_raw['topic_comp'] = PLTR_raw['topic'].apply(lambda x: vader.polarity_scores(x)['compound'])
PLTR_raw['content_comp'] = PLTR_raw['content'].apply(lambda x: vader.polarity_scores(x)['compound'])
PLTR_raw['topic_logpos'] = PLTR_raw['topic'].apply(log_pos)
PLTR_raw['content_logpos'] = PLTR_raw['content'].apply(log_pos)

In [96]:
PLTR_price.index.is_unique

True

In [142]:
df = pd.concat([PLTR_raw.drop(['topic','content'],axis=1),PLTR_price], axis=1)
df.fillna(0,inplace=True)
df.head()

,topic_comp,content_comp,topic_logpos,content_logpos,Open,High,Low,Close,Adj Close,Volume
2020-12-08 14:30:00,0.0,0.0,0.0,0.0,30.629999,31.240000,27.250000,27.400000,27.400000,59863771.0
2020-12-08 15:30:00,0.0,0.0,0.0,0.0,27.410000,29.480000,27.350000,29.280001,29.280001,24000340.0
2020-12-08 16:30:00,0.0,0.0,0.0,0.0,29.230000,29.280001,28.020000,28.579500,28.579500,9936318.0
2020-12-08 17:30:00,0.0,0.0,0.0,0.0,28.534800,29.250000,28.250000,29.249800,29.249800,9548209.0
2020-12-08 18:30:00,0.0,0.0,0.0,0.0,29.245001,29.420000,28.639999,28.930000,28.930000,8673071.0

In [154]:
print(list(map(lambda x : df[x].mask(df[x] != 0, 1).value_counts(), ['topic_comp','content_comp'])))

[0.0    925
1.0     88
Name: topic_comp, dtype: int64, 0.0    931
1.0     82
Name: content_comp, dtype: int64]

In [148]:
print(PLTR_price.iloc[[0,-1],-1])
print(PLTR_raw.iloc[[0,-1],-1])
print(len(PLTR_price),len(PLTR_raw))

2020-12-08 14:30:00    59863771
2021-06-07 19:30:00     5394269
Name: Volume, dtype: int64
Date
2021-03-04 14:00:00    0.0
2021-06-05 12:00:00    0.0
Name: content_logpos, dtype: float64
865 148

In [155]:
df_slim = df[df.index>datetime.datetime(2021,3,4,10)]
df_slim.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 610 entries, 2021-03-04 14:00:00 to 2021-06-07 19:30:00
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   topic_comp      610 non-null    float64
 1   content_comp    610 non-null    float64
 2   topic_logpos    610 non-null    float64
 3   content_logpos  610 non-null    float64
 4   Open            610 non-null    float64
 5   High            610 non-null    float64
 6   Low             610 non-null    float64
 7   Close           610 non-null    float64
 8   Adj Close       610 non-null    float64
 9   Volume          610 non-null    float64
dtypes: float64(10)
memory usage: 52.4 KB

In [160]:
df_slim.iloc[:,:4]

                     topic_comp  content_comp  topic_logpos  content_logpos
2021-03-04 14:00:00         0.0           0.0           0.0             0.0
2021-03-04 14:30:00         0.0           0.0           0.0             0.0
2021-03-04 15:30:00         0.0           0.0           0.0             0.0
2021-03-04 16:30:00         0.0           0.0           0.0             0.0
2021-03-04 17:30:00         0.0           0.0           0.0             0.0
...                         ...           ...           ...             ...
2021-06-07 15:30:00         0.0           0.0           0.0             0.0
2021-06-07 16:30:00         0.0           0.0           0.0             0.0
2021-06-07 17:30:00         0.0           0.0           0.0             0.0
2021-06-07 18:30:00         0.0           0.0           0.0             0.0
2021-06-07 19:30:00         0.0           0.0           0.0             0.0

[610 rows x 4 columns]

In [211]:
#separate train and test
from sklearn.model_selection import train_test_split
y = df_slim['Adj Close']
X = df_slim.drop(['Adj Close','Close'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42, shuffle=False)

In [213]:
#normalize
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train[['Open', 'High', 'Low', 'Volume']])
X_train_scaled = pd.concat([X_train.iloc[:,:4], pd.DataFrame(X_train_scaled,index=X_train.index)], axis=1)

sc_predict = StandardScaler()
X_test_scaled = sc_predict.fit_transform(X_test[['Open','High', 'Low', 'Volume']])
X_tset_scaled = pd.concat([X_test.iloc[:,:4], pd.DataFrame(X_test_scaled,index=X_test.index)], axis=1)

In [214]:
X_train_scaled

,topic_comp,content_comp,topic_logpos,content_logpos,0,1,2,3
2021-03-04 14:00:00,0.0,0.0,0.0,0.0,-1.769559,-1.769632,-1.769449,-0.837428
2021-03-04 14:30:00,0.0,0.0,0.0,0.0,0.770548,0.769688,0.633694,4.378979
2021-03-04 15:30:00,0.0,0.0,0.0,0.0,0.702063,0.756526,0.710116,1.526983
2021-03-04 16:30:00,0.0,0.0,0.0,0.0,0.738861,0.818288,0.752457,2.805379
2021-03-04 17:30:00,0.0,0.0,0.0,0.0,0.770548,0.760576,0.681199,1.930778
...,...,...,...,...,...,...,...,...
2021-05-27 14:30:00,0.0,0.0,0.0,0.0,0.495583,0.481129,0.485106,0.029559
2021-05-27 15:30:00,0.0,0.0,0.0,0.0,0.474628,0.471004,0.492211,-0.339867
2021-05-27 16:30:00,0.0,0.0,0.0,0.0,0.489961,0.499354,0.508724,0.003578
2021-05-27 17:30:00,0.0,0.0,0.0,0.0,0.511028,0.505429,0.531971,-0.164510
2021-05-27 18:30:00,0.0,0.0,0.0,0.0,0.526259,0.515554,0.547978,-0.091693

In [218]:
type(y_train)

pandas.core.series.Series

In [208]:
#LAG
#X_train_scaled[[0,1,2,3]] = X_train_scaled[[0,1,2,3]].shift(-1)

In [221]:
train_scaled = X_train_scaled.join(y_train)
train_scaled

,topic_comp,content_comp,topic_logpos,content_logpos,0,1,2,3,Adj Close
2021-03-04 14:00:00,0.0,0.0,0.0,0.0,-1.769559,-1.769632,-1.769449,-0.837428,0.000000
2021-03-04 14:30:00,0.0,0.0,0.0,0.0,0.770548,0.769688,0.633694,4.378979,24.190001
2021-03-04 15:30:00,0.0,0.0,0.0,0.0,0.702063,0.756526,0.710116,1.526983,24.540100
2021-03-04 16:30:00,0.0,0.0,0.0,0.0,0.738861,0.818288,0.752457,2.805379,24.855000
2021-03-04 17:30:00,0.0,0.0,0.0,0.0,0.770548,0.760576,0.681199,1.930778,24.174999
...,...,...,...,...,...,...,...,...,...
2021-05-27 14:30:00,0.0,0.0,0.0,0.0,0.495583,0.481129,0.485106,0.029559,21.959999
2021-05-27 15:30:00,0.0,0.0,0.0,0.0,0.474628,0.471004,0.492211,-0.339867,22.100599
2021-05-27 16:30:00,0.0,0.0,0.0,0.0,0.489961,0.499354,0.508724,0.003578,22.309999
2021-05-27 17:30:00,0.0,0.0,0.0,0.0,0.511028,0.505429,0.531971,-0.164510,22.462099
2021-05-27 18:30:00,0.0,0.0,0.0,0.0,0.526259,0.515554,0.547978,-0.091693,22.565001

In [ ]:
train_scaled = train_scaled.to_numpy()

In [228]:
print('train_scaled shape:',train_scaled.shape)
X_train = []
y_train = []

n_future = 2   # Number of days we want to predict into the future
n_past = 9     # Number of past hours we want to use to predict the future

for i in range(n_past, len(train_scaled) - n_future +1):
    X_train.append(train_scaled[i - n_past:i, 0: train_scaled.shape[1]])
    y_train.append(train_scaled[i + n_future - 1:i + n_future, -1])

X_train, y_train = np.array(X_train), np.array(y_train)

print('X_train shape == {}.'.format(X_train.shape))
print('y_train shape == {}.'.format(y_train.shape))

train_scaled shape: (549, 9)
X_train shape == (539, 9, 9).
y_train shape == (539, 1).

In [235]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping, ReduceLROnPlateau, ModelCheckpoint, TensorBoard

In [240]:
# Initializing the Neural Network based on LSTM
model = Sequential()

# Adding 1st LSTM layer
model.add(LSTM(units=64, return_sequences=True, input_shape=(X_train.shape[1], X_train.shape[2])))

# Adding 2nd LSTM layer
model.add(LSTM(units=10, return_sequences=False))

# Adding Dropout
model.add(Dropout(0.25))

# Output layer
model.add(Dense(units=1, activation='linear'))
#model.add(Dense(trainY.shape[1]))

# Compiling the Neural Network
model.compile(optimizer = Adam(learning_rate=0.01), loss='mean_squared_error')

In [241]:
%%time
es = EarlyStopping(monitor='val_loss', min_delta=1e-10, patience=10, verbose=1)
rlr = ReduceLROnPlateau(monitor='val_loss', factor=0.5, patience=10, verbose=1)
mcp = ModelCheckpoint(filepath='weights.h5', monitor='val_loss', verbose=1, save_best_only=True, save_weights_only=True)

tb = TensorBoard('logs')

history = model.fit(X_train, y_train, shuffle=True, epochs=300, callbacks=[es, rlr, mcp, tb], validation_split=0.2, verbose=1, batch_size=30)

Epoch 1/300
15/15 [==============================] - 9s 331ms/step - loss: 318.0138 - val_loss: 181.7119

Epoch 00001: val_loss improved from inf to 181.71190, saving model to weights.h5
Epoch 2/300
15/15 [==============================] - 0s 14ms/step - loss: 235.1950 - val_loss: 150.8503

Epoch 00002: val_loss improved from 181.71190 to 150.85033, saving model to weights.h5
Epoch 3/300
15/15 [==============================] - 0s 13ms/step - loss: 203.4917 - val_loss: 127.4797

Epoch 00003: val_loss improved from 150.85033 to 127.47971, saving model to weights.h5
Epoch 4/300
15/15 [==============================] - 0s 12ms/step - loss: 170.9954 - val_loss: 110.5626

Epoch 00004: val_loss improved from 127.47971 to 110.56256, saving model to weights.h5
Epoch 5/300
15/15 [==============================] - 0s 11ms/step - loss: 155.4615 - val_loss: 98.6233

Epoch 00005: val_loss improved from 110.56256 to 98.62328, saving model to weights.h5
Epoch 6/300
15/15 [==============================] - 0s 12ms/step - loss: 140.0771 - val_loss: 90.7069

Epoch 00006: val_loss improved from 98.62328 to 90.70686, saving model to weights.h5
Epoch 7/300
15/15 [==============================] - 0s 11ms/step - loss: 131.5536 - val_loss: 85.5732

Epoch 00007: val_loss improved from 90.70686 to 85.57320, saving model to weights.h5
Epoch 8/300
15/15 [==============================] - 0s 14ms/step - loss: 118.7290 - val_loss: 82.8685

Epoch 00008: val_loss improved from 85.57320 to 82.86850, saving model to weights.h5
Epoch 9/300
15/15 [==============================] - 0s 11ms/step - loss: 107.9306 - val_loss: 81.5420

Epoch 00009: val_loss improved from 82.86850 to 81.54196, saving model to weights.h5
Epoch 10/300
15/15 [==============================] - 0s 11ms/step - loss: 108.9963 - val_loss: 81.1544

Epoch 00010: val_loss improved from 81.54196 to 81.15444, saving model to weights.h5
Epoch 11/300
15/15 [==============================] - 0s 11ms/step - loss: 108.8421 - val_loss: 81.2534

Epoch 00011: val_loss did not improve from 81.15444
Epoch 12/300
15/15 [==============================] - 0s 12ms/step - loss: 105.5090 - val_loss: 81.6216

Epoch 00012: val_loss did not improve from 81.15444
Epoch 13/300
15/15 [==============================] - 0s 13ms/step - loss: 110.1274 - val_loss: 82.1639

Epoch 00013: val_loss did not improve from 81.15444
Epoch 14/300
15/15 [==============================] - 0s 10ms/step - loss: 102.0508 - val_loss: 82.7336

Epoch 00014: val_loss did not improve from 81.15444
Epoch 15/300
15/15 [==============================] - 0s 12ms/step - loss: 105.1576 - val_loss: 83.1538

Epoch 00015: val_loss did not improve from 81.15444
Epoch 16/300
15/15 [==============================] - 0s 11ms/step - loss: 106.4019 - val_loss: 83.5656

Epoch 00016: val_loss did not improve from 81.15444
Epoch 17/300
15/15 [==============================] - 0s 14ms/step - loss: 105.5831 - val_loss: 84.0534

Epoch 00017: val_loss did not improve from 81.15444
Epoch 18/300
15/15 [==============================] - 0s 11ms/step - loss: 99.1716 - val_loss: 84.3070

Epoch 00018: val_loss did not improve from 81.15444
Epoch 19/300
15/15 [==============================] - 0s 11ms/step - loss: 110.0243 - val_loss: 84.2801

Epoch 00019: val_loss did not improve from 81.15444
Epoch 20/300
15/15 [==============================] - 0s 10ms/step - loss: 94.4186 - val_loss: 84.5625

Epoch 00020: ReduceLROnPlateau reducing learning rate to 0.004999999888241291.

Epoch 00020: val_loss did not improve from 81.15444
Epoch 00020: early stopping
Wall time: 14.9 s

In [ ]:
https://github.com/bnsreenu/python_for_microscopists/blob/master/181_multivariate_timeseries_LSTM_GE.py
https://github.com/vb100/multivariate-lstm/blob/master/LSTM_model_stocks.ipynb

In [ ]:
multivariate time series forecasting using lstm

In [ ]:
#capture the error ##FLAG
def parse_prefix(line, fmt):
    try:
        t = time.strptime(line, fmt)
    except ValueError as v:
        if len(v.args) > 0 and v.args[0].startswith('unconverted data remains: '):
            line = line[:-(len(v.args[0]) - 26)]
            t = time.strptime(line, fmt)
        else:
            raise
    return t